.game__details {
  height: 100vh;
  width: 100%;
  color: #e1e1e1;
  padding: 2rem;

  &-name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &-dev {
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  &-screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    background: rgba(23, 26, 33, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &-screenshot {
    width: 16%;
  }
  &-description {
    width: 50%;
    margin-bottom: 2rem;
    background: rgba(23, 26, 33, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  &-link {
    background-color: #54942a;
    text-shadow: 1px 1px 2px #59bf40;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    &:hover {
      background-color: #6ec037;
    }
  }
}
