.game {
  display: flex;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
  &:hover {
    background-color: #171a21;
  }

  &-container {
    flex-grow: 1;
  }
  &-image {
    width: 7.5rem;
    height: 2.8125rem;
  }
  &-details {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-name {
    width: 100%;
    padding: 0 0.5rem;
  }

  &-rating {
    color: #888;
  }
}
