.game-details{
  height: 100vh;
  width: 100vw;
  color: #e1e1e1;
  padding: 2rem;
}

.game-details__name{
font-size: 2.5rem;
}

.game-details__description{

}

.game_details__screenshots {
  display: flex;
  justify-content: space-evenly;
}

.game-details__screenshot{
max-width: 15rem;
margin: 1rem;
}