.game{
  display: flex;
  margin:0.5rem 0;
}
.game__container{
  flex-grow: 1;
}
.game__details{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.game__name{
  width: 100%;
  margin: 0;
  padding: 0 0.5rem;
}
.game__rating{
  color: #888;
}
