body {
  box-sizing: border-box;
  background-color: #f6fffe;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

a {
  color: #111;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f6fffe;
  color: #111;
}
