* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #2a475e;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #c7d5e0;
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: space-evenly;
  color: #c7d5e0;
}
